<?xml version="1.0"?>
<model>
  <name>OakD-Lite-RGBD</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>OakD-Lite RGB-D camera with explicit RGB and depth Gazebo topics.</description>
</model>
