<?xml version="1.0"?>
<model>
  <name>x500_depth_down</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>hong</name>
    <email>hong@todo.todo</email>
  </author>
  <description>
    PX4 x500 model with one downward-facing OakD-Lite RGB-D camera.
  </description>
</model>
