<?xml version="1.0"?>
<model>
  <name>px4_depth_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>hong</name>
    <email>hong@todo.todo</email>
  </author>
  <description>
    PX4-style quadrotor model with a downward-facing depth camera for warehouse mapping tests.
  </description>
</model>
